# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Below are a few examples of evaluating arithmetic expressions in Python
* Some of the commonly used libraries used by Data Scientists include

## Author 
### Ignacio Canales

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scipy
3. Scikit-learn

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Apache Spark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [14]:
200/60

3.3333333333333335